/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.4.2018, 16:12:31
    Author     : Dan Nguyen
*/


body { padding-top: 70px; }
#content{
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 10%;
    margin: 20px;
}
.well{
    width: 400px;
    margin: 0 auto 10px;
}
.or{
    text-align: center;
    font-size: 14pt;
    padding: 10px;
}
.welcome h1{
    margin: auto;
    text-align: center;
}
.welcome p{
    padding: 50px;
}

.sw-content{
    border: none !important;
    border-color: transparent !important;
    width:75%;
    margin:auto;
    padding: 1%;
}

.sw-create{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}

.sw-nav{
    width: 100%;
    overflow: auto;
}

.sw-match{
    padding: inherit;
    width: auto;
}

.sw-match.form-horizontal{
    display: inline-block;
}

.sw-match-input{
    width: auto;
}


.sw-navheader {
    width: fit-content;
}

.sw-navheader>a {
    display: flex;
    align-items: center;
    float: right;
    width: min-content;
}

.sw-navheader>a>img {
    width: 65px;
    margin: inherit;
}

.main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch
}

.col {

    display: flex;
    float: left;
    width: auto;
    align-content: center;
    flex-direction: column-reverse !important;
}

.col * {
    order: 2;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
}
.data{
    padding:10px;
}

